@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
@import "tailwindcss";
@tailwind utilities;
@tailwind components;
@tailwind base;

*{
    font-family: Outfit;
}